/auto/
/BRCA2.txt
/MYC.txt
/P53.txt
/R-basic-stats-concordance.tex
/R-basic-stats.R
/R-basic-stats.Rnw.pdf
/R-basic-stats.Rnw.synctex.gz
/R-basic-stats.Rnw~
/R-basic-stats.aux
/R-basic-stats.log
/R-basic-stats.out
/R-basic-stats.pdf
/R-basic-stats.synctex.gz
/R-basic-stats.tex
/R-basic-stats.toc
/figure/
